Flask>=2.0.0
Werkzeug>=2.0.0
openai
azure-identity
python-dotenv
azure-cosmos
pydantic
pymongo
requests  # This is used for making HTTP requests to the OpenAI and Azure endpoints
gunicorn # For deploying the Flask app with a WSGI server
azure-ai-formrecognizer
azure-cognitiveservices-speech
